from sklearn.model_selection import train_test_split
from sklearn.neighbors import KNeighborsClassifier
from sklearn.metrics import confusion_matrix,classification_report
import pandas as pd
from sklearn.preprocessing import StandardScaler
df = pd.read_csv("sample.csv")

X = df.iloc[:,:-1].values
y = df.iloc[:,3].values
print(X)
print(y)
X_train,X_test,y_train,y_test = train_test_split(X,y,test_size=0.20)
scaler = StandardScaler()
scaler.fit(X_train)
X_train = scaler.transform(X_train)
X_test = scaler.transform(X_test)

classifier = KNeighborsClassifier(n_neighbors=3)
classifier.fit(X_train,y_train)
y_pred = classifier.predict(X_test)
print(confusion_matrix(y_test,y_pred))
print(classification_report(y_test,y_pred))
